



.topHeader{

    display: flex;
    /* grid-template-rows: 1fr 1fr; */
    /* column-gap: 66rem; */
    justify-content: start;
    align-items: center;
    background-color: #009b03;
    border: 3px solid #8e7201;
    font-family: "Jost", sans-serif;

}

.topHeader h1{
    /* margin-top: 3rem; */
    flex-grow: 0.95;
    flex-basis: max-content; 
    text-align: center;
    margin-right: 2.5rem;
    
    
}

.topHeader img{
    
    margin-left: 2rem;

}

.dropdown{

    position: relative;
    display: inline-block
}

.dropdown-content{

    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

}

.dropdown-content a{

    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-right: 2rem;
    

}

.dropdown:hover .dropdown-content{

    display: block;

}

#bodyWrap{

    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #303436; */


}




.formWrap{

    margin-top: 2rem;
    padding: 1rem;
    width: 60rem;
}

.wordForm{

    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    

}

.formGroup{

    display: grid;
    width: 30rem;
    justify-content: center;
    align-items: center;


}

.formGroup label{
   text-align: center;
    margin-top: 2rem;
    font-size: 1.3rem;
    font-family: "Jost", sans-serif;

}


#word{

    width: 20rem;
    height: 2dvh;


}


.conjugationsResults{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2em;
   
    /* margin-top: 0.5rem; */
    
    width: 80%;
    height: 100%;
    border: 5px solid #8e7201;
    background-color: #181a1b;
    color: #FFFFFF;
}



.conjugationsResults h2{

    font-size: 1.5dvw;
}

.conjugationsResults > div:first-child{

    grid-column: span 3;

}


.conjugationsResults div{

    text-align: center;
    background-color: #181a1b;
    /* border: 3px solid #e8dcb9; */
    padding: 2em;
    /* font-size: 1.3rem; */
    font-family: "Jost", sans-serif;
    margin-left: 1em;
    margin-right: 1em;
    
    

}

.conjugationsResults div:last-child{

    grid-column: 2;
    margin-top: 3rem;
    margin-bottom: 3rem;


}

.filled{

    border: 3px solid #8e7201;
    /* font-size: 2vh; */

}

.filled p{

    font-size: 1vw;
    font-family: "Jost", sans-serif;
    

}



.footer{
    
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 100%;
    text-align: center;
    margin-top: 4rem;
    width: 100%;
    height: 20dvh;
    font-size: 30px;
    background-color: #8e7201;


}


.commonVerbListWrap{

    height: 30dvh;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #8e7201;



}

.verbList{
    display: grid;
    text-align: center;
    justify-items: center;
    align-items: center;
    font-size: 3dvh;
    font-family: "Jost", sans-serif;



}