<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conjugations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">



</head>



<body>
 

    
    <div class="topHeader">
        <div class="dropdown">
            <img src="{{ url_for('static', filename='english_flag.png') }}" alt="language icon" width="100" height="65">
            <div class="dropdown-content">
                <a href="{{ url_for('home_pt') }}"><img src="{{ url_for('static', filename='brazil_icon.png') }}" alt="english icon" width="100" height="65"></a>
            </div>
        </div>
        <h1>Conjugations</h1>
        
        
    </div>

    <div id="bodyWrap">

        <div class="formWrap">
            <form action="/link" method="post" class="wordForm">
                <div class="formGroup">
                    <input type="text" name="inputWord" id="word"> <br>
                    <label for="word">Enter a word:</label>
                </div>
                
            </form>
        </div>
        
        
        <div class="conjugationsResults">
            <div>
                <h2>Verbo</h2>
            </div>
            
            
            <div>
                <h2>Present</h2>
                <div id="presentResults" class="{% if verb_indicativo and 
                verb_indicativo['Indicativo presente'] %}filled{% endif %}">
                    
                </div>
            </div>
            
            
            <div>
                <h2>Past Perfect</h2>
                <div id="perfectResults" class="{% if verb_indicativo and 
                    verb_indicativo['Indicativo preterito perfeito simples'] %}filled{% endif %}">
                    
                </div>
            </div>
            
            
            
            <div>
                <h2>Past Imperfect</h2>
                <div id="imperfectResults" class="{% if verb_indicativo and 
                verb_indicativo['Indicativo preterito imperfeito'] %}filled{% endif %}">
                    
                </div>
            </div>


            <div>
                <h2>Future</h2>
                <div id="futureResults" class="{% if verb_indicativo 
                and verb_indicativo['Indicativo futuro do presente'] %}filled{% endif %}">
                    
                </div>
            </div>
        
        
        </div>


    
    


    

        <div class="footer">
            <div class="commonVerbListWrap">
                <ul class="verbList">
                    
                    <li><a href="{{ url_for('link', clicked_verb='ter') }}">ter</a></li>
                    <li><a href="{{ url_for('link', clicked_verb='ver') }}">ver</a></li>
                    <li><a href="{{ url_for('link', clicked_verb='vir') }}">vir</a></li>
                    <li><a href="{{ url_for('link', clicked_verb='pôr') }}">pôr</a></li>
                    
                </ul>

                <ul class="verbList">
                    
                    <li><a href="{{ url_for('link', clicked_verb='estar') }}">estar</a></li>
                    <li><a href="{{ url_for('link', clicked_verb='haver') }}">haver</a></li>
                    <li><a href="{{ url_for('link', clicked_verb='saber') }}">saber</a></li>
                    <li><a href="{{ url_for('link', clicked_verb='dar') }}">dar</a></li>
                    
                </ul>

                <ul class="verbList">
                    
                    <li><a href="{{ url_for('link', clicked_verb='ser') }}">ser</a></li>
                    <li><a href="{{ url_for('link', clicked_verb='poder') }}">poder</a></li>
                    <li><a href="{{ url_for('link', clicked_verb='fazer') }}">fazer</a></li>
                    <li><a href="{{ url_for('link', clicked_verb='ir') }}">ir</a></li> 
                    
                </ul>

            </div>

        </div>

    </div>
</body>









</html>