<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Conjugações</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">



</head>



<body>
 

    
    <div class="topHeader">
        <div class="dropdown">
            <img src="{{ url_for('static', filename='brazil_icon.png') }}" alt="language icon" width="100" height="65">
            <div class="dropdown-content">
                <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='english_flag.png') }}" alt="english icon" width="100" height="65"></a>
            </div>
        </div>
        <h1>Conjugações</h1>
        
        
    </div>

    <div id="bodyWrap">

        <div class="formWrap">
            <form action="/conjugar" method="post" class="wordForm">
                <div class="formGroup">
                    <input type="text" name="inputWord" id="word"> <br>
                    <label for="word">Digite uma palavra:</label>
                </div>
                
            </form>
        </div>
        
        
        <div class="conjugationsResults">
            <div>
                <h2>Verbo</h2>
            </div>
            
            
            <div>
                <h2>Presente</h2>
                <div id="presentResults" class="{% if indicative_verb and 
                indicative_verb['Indicativo presente'] %}filled{% endif %}">
                    
                </div>
            </div>
            
            
            <div>
                <h2>Pretérito Perfeito</h2>
                <div id="perfectResults" class="{% if indicative_verb and 
                    indicative_verb['Indicativo preterito perfeito simples'] %}filled{% endif %}">
                    
                </div>
            </div>
            
            
            
            <div>
                <h2>Pretérito Imperfeito</h2>
                <div id="imperfectResults" class="{% if indicative_verb and 
                indicative_verb['Indicativo preterito imperfeito'] %}filled{% endif %}">
                    
                </div>
            </div>


            <div>
                <h2>Futuro</h2>
                <div id="futureResults" class="{% if indicative_verb 
                and indicative_verb['Indicativo futuro do presente'] %}filled{% endif %}">
                    
                </div>
            </div>
        
        
        </div>


    
    


    

        <div class="footer">
            <div class="commonVerbListWrap">
                <ul class="verbList">
                    
                    <li><a href="{{ url_for('link_pt', clicked_verb='have') }}">have</a></li>
                    <li><a href="{{ url_for('link_pt', clicked_verb='see') }}">see</a></li>
                    <li><a href="{{ url_for('link_pt', clicked_verb='come') }}">come</a></li>
                    <li><a href="{{ url_for('link_pt', clicked_verb='give') }}">give</a></li>
                    
                </ul>

                <ul class="verbList">
                    
                    <li><a href="{{ url_for('link_pt', clicked_verb='be') }}">be</a></li>
                    <li><a href="{{ url_for('link_pt', clicked_verb='fight') }}">fight</a></li>
                    <li><a href="{{ url_for('link_pt', clicked_verb='know') }}">know</a></li>
                    <li><a href="{{ url_for('link_pt', clicked_verb='take') }}">take</a></li>
                    
                </ul>

                <ul class="verbList">
                    
                    <li><a href="{{ url_for('link_pt', clicked_verb='ser') }}">do</a></li>
                    <li><a href="{{ url_for('link_pt', clicked_verb='can') }}">can</a></li>
                    <li><a href="{{ url_for('link_pt', clicked_verb='make') }}">make</a></li>
                    <li><a href="{{ url_for('link_pt', clicked_verb='go') }}">go</a></li> 
                    
                </ul>

            </div>

        </div>

    </div>
</body>









</html>